.idea
.vscode
public
target/
.settings/
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.springBeans
vendor/
data/runtime/

.project

.metadata
.recommenders
.externalToolBuilders
.tomcatplugin
Servers/

.classpath
*classpath

*.log
*.iml

mvnw
mvnw.cmd